{% extends 'base.html' %}
{% load static %}
{% load bag_tools %}

{% block content %}
<div class="bg-cover"></div>
<div class="container bag-container">
    <div class="row">
        <div class="col-12">
            <h1>Your Shopping Bag</h1>
        </div>

        <div class="col-12">

            {% if bag_items %}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Description</th>
                            <th scope="col"></th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Price</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>

                    {% for item in bag_items %}
                    <tr>
                        <td>
                            <img src="{{ item.product.image.url }}" alt="{{ product.name }}" class="img-fluid">
                        </td>
                        <td>
                            <p>{{ item.product.sku }}</p>
                            <p>SKU: {{ item.product.name }}</p>
                        </td>
                        <td>
                            <form action="{% url 'update_bag' item.item_id %}" method="POST" class="update-form">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="number" class="form-control qty_input" name="quantity"
                                        id="id_qty_{{ item.item_id }}" data-item_id="{{ item.item_id }}"
                                        value="{{ item.quantity }}" min="0" max="10">
                                </div>
                            </form>
                            <a class="btn btn-primary update-quantity"><span>Update</span></a>
                            <a class="btn btn-primary delete-product"
                                id="remove_{{ item.item_id }}"><span>Delete</span></a>

                        </td>
                        <td>
                            <p>{{ item.product.price }}</p>

                        </td>
                        <td>
                            <p>{{ item.product.price | calc_subtotal:item.quantity }}</p>

                        </td>
                    </tr>
                    {% endfor %}

                    <tr>
                        <td colspan="5">
                            <p>Bag: ${{ total|floatformat:2 }}</p>
                            <p>Delivery: ${{ delivery|floatformat:2 }}</p>
                            <h6>Grand Total: ${{ grand_total|floatformat:2 }}</h6>
                            {% if delivery_delta > 0 %}
                            <p>If you spend ${{ delivery_delta }} more we will deliver your order for free!</p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="pb-5">
                            <a href="{% url 'products' %}" class="btn btn-primary">
                                <span>Keep Shopping</span>
                            </a>
                            <span class="px-3">or</span>
                            <a href="" class="btn btn-primary">
                                <span>Checkout</span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            {% else %}
            <p>Your bag is empty!</p>
            <a href="{% url 'products' %}" class="btn btn-primary">
                <span>Why not add something to it?</span>
            </a>
            {% endif %}

        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}


<script type="text/javascript">
    // Update product quantity button
    $('.update-quantity').click(function (e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Delete product & reload bag button
    $('.delete-product').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/delete/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>

{% endblock %}