{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="bg-cover"></div>
<div class="container bag-container">
    <div class="row">
        <div class="col-12">
            <h1>Your Shopping Bag</h1>
        </div>

        <div class="col-12">

            {% if bag_items %}
            <div class="table-responsive">
                {{ bag_items }}
            </div>
            {% else %}
            <p>Your bag is empty!</p>
            <a href="{% url 'products' %}" class="btn btn-primary">
                <span>Why not add something to it?</span>
            </a>
            {% endif %}

        </div>
    </div>
</div>

{% endblock %}