{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container callout-container">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron mt-5">
                <div class="mx-auto">
                    <h1 class="display-4 text-center pt-1 saira-font">The finest home fitness equipment!</h1>
                    <p class="lead text-center pb-3">
                        <a class="btn btn-primary btn-lg" href="#" role="button">Shop now</a>
                    </p>
                </div>

            </div>

        </div>
    </div>
</div>

{% endblock %}