{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container callout-container">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron mt-5">
                <div class="mx-auto">
                    <h1 class="display-4 text-center pt-1 saira-font">The finest home fitness equipment!</h1>
                    <p class="text-center">Free delivery for orders above {{ free_delivery_threshold }}$, a 10% delivery
                        charge applied
                        otherwise.</p>
                    <p class="lead text-center pb-3">
                        <a class="btn btn-primary btn-lg" href="{% url 'products' %}" role="button">Shop now</a>
                    </p>
                </div>

            </div>

        </div>
    </div>
</div>

{% endblock %}