{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="bg-cover"></div>
<div class="container bag-container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Profile</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <h5 class="text-center">Default Delivery Details</h5>
            <form class="mt-4" action="{% url 'profile' %}" method="POST" id="update-profile-form">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-primary">Update</button>
            </form>
        </div>
        <div class="col-12 col-lg-6">
            <h5 class="text-center">Order History</h5>
            {{ orders }}
        </div>
    </div>
</div>
</div>
{{ profile }}
{% endblock %}

{% block postloadjs %}

{{ block.super }}

<script type="text/javascript" src="{% static 'profiles/js/countryfield_fix.js' %}"></script>

{% endblock %}