{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="bg-cover"></div>
<div class="container content-push">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center saira-font text-uppercase">Thank you for your purchase!</h1>
            <p class="text-center">Order information below. A confirmation email should arrive shortly to
                {{ order.email }}</p>
            <hr>
        </div>
    </div>
    {% for item in order.lineitems.all %}
    <div class="row order-confirmation">
        <div class="col-12">
            <h2 class="text-uppercase">
                Order Summary
            </h2>
            <div>
                <p>Order Number: {{ order.order_number }}</p>
                <p>{{ item.product.name }} - Quantity: {{ item.quantity }} for
                    ${{ item.product.price }} each</p>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="row order-confirmation">
        <div class="col-12">
            <h2 class="text-uppercase">
                Delivery Details
            </h2>
            <div>
                <p>Full Name: {{ order.full_name }}</p>
                <p>Email: {{ order.email }}</p>
                <p>Phone Number: {{ order.phone_number }}</p>
                <p>Street Address: {{ order.street_address }}</p>
                {% if order.post_code %}
                <p>Post Code: {{ order.post_code }}</p>
                {% endif %}
                <p>Town/City: {{ order.town_or_city }}</p>
                {% if order.county %}
                <p>County: {{ order.county }}</p>
                {% endif %}
                <p>Country: {{ order.country }}</p>
            </div>
        </div>
    </div>
    <div class="row order-confirmation">
        <div class="col-12">
            <h2 class="text-uppercase">
                Order Total
            </h2>
            <div>
                <p><strong>Order Total: {{ order.order_total }}</strong></p>
                <p><strong>Delivery Fee: {{ order.delivery_cost }}</strong></p>
                <p><strong>Grand Total: {{ order.grand_total }}</strong></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}