body {
    background: url('/media/hero-image.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Assistant', sans-serif;
}

.header-container {
    min-height: 100vh;
}

.callout-container {
    margin-top: 80px;
}

.jumbotron {
    background: white !important;
    border-radius: 0.5rem !important;
}

.navigation {
    background-color: white;
}

.saira-font {
    font-family: 'Saira', sans-serif;
}