/* General */

body {
    background: url('/media/hero-image.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Assistant', sans-serif;
}

/* Base */

.navbar-brand {
    font-size: 40px;
    font-family: 'Saira', sans-serif;
    font-weight: 600;
}

.navbar {
    border-bottom: 2px solid black;
}

.basket-total {
    color: black;
}

ul li {
    color: black;
    font-size: 20px;
    font-weight: 600;
}

.products-container {
    margin-top: 120px;
}

.product-container {
    margin-top: 150px;
}

.callout-container {
    margin-top: 100px;
}

.bag-container {
    margin-top: 160px;
}

.jumbotron {
    background: white !important;
    border-radius: 0.5rem !important;
}

.navigation {
    background-color: white;
}

.saira-font {
    font-family: 'Saira', sans-serif;
}

.bg-cover {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

/* Toasts */
.message-container {
    top: 80px;
    right: 20px;
    position: fixed;
    z-index: 9999999;
}

.toast-close-button {
    margin-left: auto;
}

/* Checkout */

select,
select option {
    color: black;
}

select:invalid,
select option[value=""] {
    color: grey !important;
}

/* Checkout Stripe form */

.StripeElement {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid;
    border-radius: 5px;
    background-color: white;
}

.StripeElement--invalid {
    border-color: #dc3545;
    box-shadow: 0 1px 3px 0 #dc3545;
}

.StripeElement--webkit-autofill {
    background-color: white !important;
}

.fieldset-label {
    position: relative;
    right: 5px;
}

#card-element {
    color: grey;
    border: 1px solid grey;
}

/* Products */

.card-footer {
    font-size: 20px;
    color: white;
    background-color: #d91b11;
}


/* Checkout loading icon */

#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 255, .85);
    z-index: 9999;
}

.checkout-loading-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}


/* Profiles */

#id_default_country,
#id_default_country option:not(:first_child) {
    color: black;
}

#id_default_country option:first_child {
    color: grey;
}

.order-history {
    max-height: 400px;
    overflow-y: auto;
}

/* All Articles */

/* Footer */

li a i {
    color: #0d6efd;
    font-size: 20px;
}

footer {
    border-top: 2px solid black;
}