{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="bg-cover"></div>
<div class="container content-push">
    <div class="row">
        <div class="col-12">
            <h3 class="text-center text-uppercase saira-font">Fitness & Workout Articles</h3>
            <p class="text-center">Here we allow registered users to offer their insights into health, fitness &
                routines. Feel free to make your own conribution below.</p>
            <div class="col-3 offset-3">
                {% if request.user.is_authenticated %}
                <a class="nav-link" href="{% url 'add_article' %}">Add your own article here!</a>
                {% else %}
                <p>If you're logged in, you can add an article yourself.</p><a class=" btn btn-primary nav-link"
                    href="{% url 'account_login' %}">Log In</a>
                {% endif %}
                <p></p>
            </div>
        </div>
    </div>
    <div class="row">
        {% for article in articles %}
        <div class="col-8 offset-2">

            <div class="card my-5">
                <div class="card-header">
                    <h5>{{ article.title }}</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <blockquote class="blockquote mb-0">
                                <a href="{% url 'article_detail' article.id %}">
                                    <p>{{ article.description }}</p>
                                </a>
                                <footer class="blockquote-footer article-author">{{ article.author }}</footer>
                            </blockquote>
                        </div>
                        <div class="col-lg-6">
                            <a href="{% url 'article_detail' article.id %}"><img src="{{ article.image }}"
                                    alt="Article Image" class="img-fluid"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% endblock %}