{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="bg-cover"></div>
<div class="container products-container">
    <div class="row">
        {% for article in articles %}
        <div class="col-12">

            <div class="card">
                <div class="card-header">
                    <p>{{ article.title }}<span class="ml-auto">{{ article.date }}</span></p>
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>{{ article.description }}</p>
                        <footer class="blockquote-footer">{{ article.author }}</footer>
                    </blockquote>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% endblock %}