{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="bg-cover"></div>
<div class="container products-container">
    <div class="row">
        {% for article in articles %}
        <div class="col-8 offset-2">

            <div class="card mt-5">
                <div class="card-header">
                    <h5>{{ article.title }}</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <blockquote class="blockquote mb-0">
                                <a href="{% url 'article_detail' article.id %}">
                                    <p>{{ article.description }}</p>
                                </a>
                                <footer class="blockquote-footer">{{ article.author }}</footer>
                            </blockquote>
                        </div>
                        <div class="col-lg-6">
                            <a href="{% url 'article_detail' article.id %}"><img src="{{ article.image }}"
                                    alt="Article Image" class="img-fluid"></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% endblock %}