{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="bg-cover"></div>
<div class="container product-container">
    <div class="row">
        <div class="col-12 col-md-6 pb-3">
            <div class="image-container">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top img-fluid shake">
                </a>
                {% else %}
                <a href="">
                    <img src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}" class="card-img-top img-fluid">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 pb-3">
            <div>
                <h3 class="saira-font">{{ product.name }}</h3>
                <p>{{ product.category.friendly_name }}</p>
                <p>{{ product.price }}</p>
                <p>{{ product.description }}</p>
                <form action="{% url 'add_to_bag' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-12 col-md-6">
                            <p>Quantity:</p>
                            <div class="form-group">
                                <input type="number" class="form-control qty_input" name="quantity"
                                    id="id_qty_{{ product.id }}" data-item_id="{{ product.id }}" value="1" min="1"
                                    max="10">
                            </div>
                        </div>
                        <div class="col-12 col-md-6 my-3 mx-3">
                            <input type="submit" value="Add Product" class="btn btn-primary">
                            <a href="{% url 'products' %}" class="btn btn-primary">
                                <span>
                                    Continue Shopping
                                </span>
                            </a>
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2 review-container mb-3">
            <h5 class="text-center saira-font text-uppercase"><strong>Reviews</strong></h5>
            <hr>
            {% for review in product.reviews.all %}
            <p><strong>By {{ review.reviewer }} on {{ review.date }}</strong></p>
            <p>{{ review.product_review }}</p>
            {% if request.user == review.reviewer or request.user.is_superuser %}

            <div class="row">
                <form action="{% url 'delete_review' review.id %}" method="POST">
                    {% csrf_token %}
                    <div class="delete-button mb-3">
                        <button class="btn btn-primary">
                            <span>Delete review</span>
                        </button>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </form>
            </div>

            {% endif %}
            {% endfor %}
            <hr>
        </div>
        {% if user.is_authenticated %}
        <div class="row">
            <form action="{% url 'review_product' product.id %}" method="POST" id="review-form">
                {% csrf_token %}
                <fieldset>
                    {{ review_form.product_review | as_crispy_field }}
                </fieldset>
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                <div class="review-button mb-4">
                    <button id="review-button" class="btn btn-primary mb-3">
                        <span>Add Review</span>
                    </button>
                </div>
            </form>
        </div>
        {% endif %}
    </div>
</div>
</div>
</div>
<div class="mb-3"></div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}

<script type="text/javascript">
    // from https://jsfiddle.net/macloo/g39k3h3e/, altered to shake on button hover
    $('#shake').hover(function () {
        shake($('.shake'));
    });
    // adaptable SHAKE function, from 
    // https://bradleyhamilton.com/projects/shake/index.html 
    function shake(thing) {
        var interval = 100;
        var distance = 10;
        var times = 6;

        for (var i = 0; i < (times + 1); i++) {
            $(thing).animate({
                left: (i % 2 == 0 ? distance : distance * -1)
            }, interval);
        }
        $(thing).animate({
            left: 0,
            top: 0
        }, interval);
    }
</script>

{% endblock %}