{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="products-bg-cover"></div>
<div class="container products-container">
    <div class="row">
        {% for product in products %}
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 my-4">
            <div class="card">

                {% if product.image %}
                <a href="{% url 'product_detail' product.id %}">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top img-fluid">
                </a>
                {% else %}
                <a href="{% url 'product_detail' product.id %}">
                    <img src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}" class="card-img-top img-fluid">
                </a>
                {% endif %}
                <div class="card-body">
                    <p class="text-center">{{ product.name }}</p>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col">
                            <p>{{ product.price }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}