{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="bg-cover"></div>
<div class="container product-container">
    <div class="row">
        <div class="col-12 col-md-6 pb-3">
            <div class="image-container">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top img-fluid">
                </a>
                {% else %}
                <a href="">
                    <img src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}" class="card-img-top img-fluid">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 pb-3">
            <div>
                <h3>{{ product.name }}</h3>
                <p>{{ product.category.friendly_name }}</p>
                <p>{{ product.price }}</p>
                <p>{{ product.description }}</p>
                <form action="{% url 'add_to_bag' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-12 col-md-6">
                            <p>Quantity:</p>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="number" class="form-control qty_input" name="quantity"
                                        id="id_qty_{{ product.id }}" data-item_id="{{ product.id }}" value="1" min="1"
                                        max="10">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <a href="{% url 'products' %}" class="btn btn-primary">
                                <span>
                                    Continue Shopping
                                </span>
                            </a>
                            <input type="submit" value="Add Product" class="btn btn-primary">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-12 review-container">
        In computer programming, a placeholder is a character, word, or string of characters that temporarily
        takes the place of the final data. For example, a programmer may know that she needs a certain number of
        values or variables, but doesn't yet know what to input. She can use a placeholder as a temporary
        solution until a proper value or variable can be assigned.
    </div>
</div>

{% endblock %}